* {
  padding: 0%;
  margin: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: Optima;
  src: url(../font/OptimaNovaLTProRegular.otf);
}

@font-face {
  font-family: OptimaLight;
  src: url(../font/OptimaNovaLTProLight.otf);
}

@font-face {
  font-family: OptimaMed;
  src: url(../font/OptimaNovaLTProMedium.otf);
}

@font-face {
  font-family: OptimaBold;
  src: url(../font/OptimaNovaLTProBlack.otf);
}

@font-face {
  font-family: OptimaItalic;
  src: url(../font/OptimaNovaLTProItalic.otf);
}

html {
  width: 100%;
  font-size: 100%;
  overflow-x: hidden;
}

@media screen and (max-width: 992px) {
  html {
    font-size: 100%;
  }
}

@media screen and (max-width: 668px) {
  html {
    font-size: 92%;
  }
}

@media screen and (max-width: 575px) {
  html {
    font-size: 88%;
  }
}

@media screen and (max-width: 475px) {
  html {
    font-size: 84%;
  }
}

@media screen and (max-width: 380px) {
  html {
    font-size: 80%;
  }
}

@media screen and (max-width: 280px) {
  html {
    font-size: 76%;
  }
}

body {
  font-family: Optima;
}

a:hover {
  color: #9b795b;
}

@media screen and (max-width: 1350px) {
  section {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media screen and (max-width: 767px) {
  section {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media screen and (max-width: 575px) {
  section {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.page_container {
  max-width: 1150px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 399px) {
  .page_container p {
    font-size: 10px;
  }
}

.pointer {
  cursor: pointer;
}

.f8 {
  font-size: 0.5rem;
}

.f10 {
  font-size: 0.625rem;
}

.f12 {
  font-size: 0.75rem;
}

.f14 {
  font-size: 0.875rem;
}

.f15 {
  font-size: 0.938rem;
}

.f16 {
  font-size: 1rem;
}

.f18 {
  font-size: 1.125rem;
}

.f20 {
  font-size: 1.25rem;
}

.f22 {
  font-size: 1.375rem;
}

.f24 {
  font-size: 1.5rem;
}

.f26 {
  font-size: 1.625rem;
}

.f28 {
  font-size: 1.75rem;
}

.f30 {
  font-size: 1.875rem;
}

.f32 {
  font-size: 2rem;
}

.f34 {
  font-size: 2.125rem;
}

.f30 {
  font-size: 1.875rem;
}

.f35 {
  font-size: 2.125rem;
  line-height: 57px;
}

.f40 {
  font-size: 2.5rem;
  line-height: 57px;
}

.f50 {
  font-size: 3.125rem;
  line-height: 65px;
}

.f64 {
  font-size: 4rem;
  line-height: 71px;
}

.fw400 {
  font-weight: 400;
}

.fw500 {
  font-weight: 500;
  font-family: OptimaLight;
}

.fw600 {
  font-weight: 600;
}

.fw700 {
  font-weight: 700;
}

.fw800 {
  font-weight: 800;
}

.fw900 {
  font-weight: 900;
}

@media screen and (min-width: 768px) {
  .px-mdl-0 {
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (min-width: 768px) {
  .w-md-100 {
    width: 100% !important;
  }
}

.color1 {
  color: #49331e;
}

.color2 {
  color: #49331e;
}

.color3 {
  color: #49331e;
}

.outlined-btn {
  border: 1px solid #49341c;
  padding: 0.6rem 2rem;
  background-color: transparent;
  color: #49341c;
  font-size: 26px;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 575px) {
  .outlined-btn {
    padding: 0.6rem 2.5rem;
    font-size: 18px;
  }
}

.splide__arrows .splide__arrow {
  width: 2vw;
  background: transparent;
}

.splide__arrows .splide__arrow img {
  width: 100%;
}

.swiper {
  padding: 0 0.25rem;
}

.swiper.custom-btns .swiper-button-next img,
.swiper.custom-btns .swiper-button-prev img {
  width: 2vw;
}

.swiper.custom-btns .swiper-button-next::after,
.swiper.custom-btns .swiper-button-prev::after {
  content: "";
}

.swiper.custom-btns .swiper-button-prev {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.text-dark-brown {
  color: #49341c !important;
}

.text-brown {
  color: #9b795b !important;
}

.bottom-bordered {
  border-bottom: 1px solid #493220;
}

.breadcrumb {
  margin-bottom: 0;
}

.breadcrumb * {
  color: #4f3b24;
}

.breadcrumb-container nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.breadcrumb-container nav img {
  width: 25px;
  margin-right: 0.5rem;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: url("../images/breadcrumb-arrow.png");
  margin: 0 0.5rem;
}

.dropdown-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem 2rem;
  margin: 0 2rem;
  -webkit-box-shadow: 0 4px 11px #cbcbcb;
          box-shadow: 0 4px 11px #cbcbcb;
  -webkit-box-flex: unset !important;
      -ms-flex: unset !important;
          flex: unset !important;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-toggle.show img {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.dropdown-toggle .text {
  margin-right: 1rem;
}

.dropdown-toggle img {
  width: 17px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.upper_header_container {
  /*To remove button from IE11, thank you Matt */
}

.upper_header_container img {
  width: 20px;
  height: auto;
}

.upper_header_container .search_icon {
  width: 17px;
}

.upper_header_container .selectdiv {
  position: relative;
  /*Don't really need this just for demo styling*/
  float: left;
}

.upper_header_container select::-ms-expand {
  display: none;
}

.upper_header_container select {
  margin-top: 0.1rem;
}

.upper_header_container select:focus {
  outline: none;
}

.upper_header_container .selectdiv:after {
  content: url(../images/downIcon.svg);
  color: #333;
  right: 11px;
  /*Adjust for position however you want*/
  top: 1px;
  padding: 0 0 2px;
  /*left line */
  position: absolute;
  pointer-events: none;
}

.upper_header_container .selectdiv select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Add some styling */
  display: block;
  float: right;
  padding: 0px 20px 0px 0px;
  font-size: 16px;
  line-height: 1.75;
  color: #333;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  -ms-word-break: normal;
  word-break: normal;
}

.header_container .logo_container {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.header_container ul {
  margin-bottom: 0.5rem;
}

@media screen and (max-width: 767px) {
  .header_container ul {
    margin-bottom: 0.25rem;
  }
}

.header_container ul li.active {
  position: relative;
}

.header_container ul li.active::after {
  content: "";
  position: absolute;
  width: 110%;
  height: 2px;
  bottom: -0.5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #493220;
}

@media screen and (max-width: 767px) {
  .header_container ul li.active::after {
    bottom: -0.35rem;
  }
}

.header_container a {
  color: #49331e;
  font-size: 1.35vw;
}

@media screen and (max-width: 767px) {
  .header_container a {
    font-size: 14px;
  }
}

@media screen and (max-width: 575px) {
  .header_container a {
    font-size: 2.5vw;
  }
}

.hero_container {
  background: url(../images/hero.png);
  background-repeat: no-repeat;
  background-size: 100vw;
  width: 100%;
  padding-top: 15rem;
  padding-bottom: 13rem;
}

@media screen and (max-width: 767px) {
  .hero_container {
    background: url("../images/bg-hero-plain.png");
  }
}

@media screen and (max-width: 1400px) {
  .hero_container {
    padding-top: 15vw;
    padding-bottom: 13vw;
  }
}

.hero_container .text_content {
  top: 30%;
  left: 0%;
}

.hero_container .text_content h1 {
  font-size: 3rem;
}

@media screen and (max-width: 1400px) {
  .hero_container .text_content h1 {
    font-size: 3.5vw;
  }
}

@media screen and (max-width: 767px) {
  .hero_container .text_content h1 {
    font-size: 5.5vw;
    text-align: center;
  }
}

.hero_container .text_content p {
  margin-bottom: 2rem;
  font-size: 1.425rem;
}

@media screen and (max-width: 1400px) {
  .hero_container .text_content p {
    font-size: 1.6vw;
  }
}

@media screen and (max-width: 767px) {
  .hero_container .text_content p {
    font-size: 2.6vw;
    text-align: center;
  }
}

.hero_container .text_content button {
  border: 1px solid #fff;
  padding: 0.6rem 2rem;
  background-color: transparent;
  color: #fff;
}

@media screen and (max-width: 1400px) {
  .hero_container .text_content button {
    width: 11vw;
    font-size: 1.145vw;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .hero_container .text_content button {
    width: 15vw;
    font-size: 1.75vw;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .hero_container .text_content button {
    width: 25vw;
    font-size: 2.9vw;
  }
}

.about_container h1,
.about_container p {
  font-family: OptimaLight;
}

@media screen and (max-width: 1400px) {
  .about_container h1 {
    font-size: 4vw;
  }
}

@media screen and (max-width: 576px) {
  .about_container h1 {
    font-size: 6vw;
  }
}

.arrival_cont {
  margin-top: 5rem;
  padding-left: 0;
  padding-right: 0;
}

.slider_container {
  margin-top: -2vw;
}

@media screen and (max-width: 575px) {
  .slider_container {
    margin-top: -4.5vw;
  }
}

@media screen and (max-width: 399px) {
  .slider_container {
    margin-top: -4.5vw;
  }
}

.slider_container h4,
.slider_container p {
  font-family: "OptimaLight";
}

.slider_container h4 {
  font: 24px;
}

@media screen and (max-width: 1400px) {
  .slider_container h4 {
    font-size: 1.7vw;
  }
}

@media screen and (max-width: 575px) {
  .slider_container h4 {
    font-size: 4vw;
  }
}

@media screen and (max-width: 399px) {
  .slider_container h4 {
    font-size: 6vw;
  }
}

.slider_container p {
  font-family: "OptimaLight";
  max-width: 235px;
  margin-left: auto;
  margin-right: auto;
  font: 16px;
  font-size: 1.13vw;
  max-width: 17vw;
}

@media screen and (max-width: 575px) {
  .slider_container p {
    font-size: 2.4vw;
    max-width: 35vw;
  }
}

@media screen and (max-width: 399px) {
  .slider_container p {
    font-size: 4vw;
    max-width: 80vw;
  }
}

.slider_container .swiper-slide img {
  display: block;
  width: 30%;
  margin: auto;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media screen and (max-width: 575px) {
  .slider_container .swiper-slide img {
    width: 55%;
  }
}

@media screen and (max-width: 399px) {
  .slider_container .swiper-slide img {
    width: 25%;
  }
}

.slider_container .swiper-button-next {
  padding-top: 2px;
  padding-left: 2px;
}

.slider_container .swiper-button-prev {
  padding-top: 2px;
  padding-right: 2px;
}

.slider_container .swiper-button-next,
.slider_container .swiper-button-prev {
  background: #c9b89b7a;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  font-size: 10px;
  color: #604e39;
  font-weight: 900;
}

@media screen and (max-width: 575px) {
  .slider_container .swiper-button-next,
  .slider_container .swiper-button-prev {
    width: 32px;
    height: 32px;
  }
}

.slider_container .swiper-button-next::after,
.slider_container .swiper-button-prev::after {
  font-size: 1.4rem;
}

@media screen and (max-width: 575px) {
  .slider_container .swiper-button-next::after,
  .slider_container .swiper-button-prev::after {
    font-size: 1rem;
  }
}

.need_help {
  margin: 13rem 0;
}

@media screen and (max-width: 767px) {
  .need_help {
    margin: 4rem 0;
  }
}

.need_help img {
  position: relative;
  width: 100%;
  z-index: 1;
}

@media screen and (max-width: 767px) {
  .need_help img {
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 575px) {
  .need_help img {
    width: 100%;
  }
}

.need_help .text {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 767px) {
  .need_help .text {
    padding-top: 2rem;
  }
}

.need_help .text h1 {
  font-size: 3rem;
}

@media screen and (max-width: 1400px) {
  .need_help .text h1 {
    font-size: 3.5vw;
  }
}

@media screen and (max-width: 767px) {
  .need_help .text h1 {
    font-size: 5.8vw;
  }
}

.need_help .text p {
  font-size: 1.25rem;
  font-family: "OptimaLight";
}

@media screen and (max-width: 1400px) {
  .need_help .text p {
    font-size: 1.45vw;
  }
}

@media screen and (max-width: 767px) {
  .need_help .text p {
    font-size: 3vw;
  }
}

.need_help .text .bg {
  position: absolute;
  background: #c9b89b;
  right: 0;
  top: -4rem;
  bottom: -4rem;
  left: -7rem;
  opacity: 0.15;
  border-radius: 25px;
  pointer-events: none;
}

@media screen and (max-width: 767px) {
  .need_help .text .bg {
    left: -2rem;
    right: -2rem;
  }
}

.need_help .text .outlined-btn {
  padding-left: 3rem;
  padding-right: 3rem;
}

@media screen and (max-width: 575px) {
  .need_help .text .outlined-btn {
    font-size: 4vw;
    padding-left: 7vw;
    padding-right: 7vw;
  }
}

.gemstone_container {
  padding: 10rem 0rem;
  background: url(../images/gemstoneJewe.svg);
  background-repeat: no-repeat;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (max-width: 767px) {
  .gemstone_container {
    padding: 7rem 0rem;
  }
}

.gemstone_container .inner_gemstone {
  max-width: 500px;
  margin: auto;
}

@media screen and (max-width: 795px) {
  .gemstone_container h1 {
    font-size: 5vw;
  }
}

@media screen and (max-width: 795px) {
  .gemstone_container p {
    font-size: 2vw;
    max-width: 60vw;
    margin-left: auto;
    margin-right: auto;
  }
}

.gemstone_container button {
  border: 1px solid #49341c;
  padding: 0.6rem 2rem;
  background-color: transparent;
  color: #49341c;
}

@media screen and (max-width: 795px) {
  .gemstone_container button {
    font-size: 12px;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.explore_container {
  margin-top: 2rem;
}

@media screen and (max-width: 1400px) {
  .explore_container h3 {
    font-size: 2vw;
  }
}

@media screen and (max-width: 767px) {
  .explore_container h3 {
    font-size: 5vw;
  }
}

@media screen and (max-width: 575px) {
  .explore_container h3 {
    font-size: 8vw;
  }
}

@media screen and (max-width: 1400px) {
  .explore_container p {
    font-size: 1.15vw;
  }
}

@media screen and (max-width: 767px) {
  .explore_container p {
    font-size: 1.8vw;
  }
}

@media screen and (max-width: 575px) {
  .explore_container p {
    font-size: 3vw;
  }
}

.explore_container .sub-heading {
  font-size: 1.25rem;
  font-family: "OptimaLight";
}

.explore_container .outlined-btn {
  font-size: 2.5vw;
  padding-left: 4vw;
  padding-right: 4vw;
}

@media screen and (max-width: 767px) {
  .explore_container .outlined-btn {
    font-size: 1.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

.newsletter_container {
  margin-top: 4rem;
  background: url(../images/newsletter.svg);
  padding: 10rem 0rem;
  background-repeat: no-repeat;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (max-width: 767px) {
  .newsletter_container {
    background-size: cover;
    padding: 3rem 0rem;
  }
}

.newsletter_container .news_inner {
  max-width: 640px;
  margin-left: auto;
}

@media screen and (max-width: 590px) {
  .newsletter_container .news_inner h1 {
    font-size: 5vw;
  }
}

@media screen and (max-width: 590px) {
  .newsletter_container .news_inner p {
    font-size: 2.5vw;
  }
}

.newsletter_container .news_inner h1,
.newsletter_container .news_inner p {
  margin-bottom: 0;
}

.newsletter_container .news_inner p {
  max-width: 500px;
}

@media screen and (max-width: 590px) {
  .newsletter_container .inp_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: space-between;
        -ms-flex-align: space-between;
            align-items: space-between;
  }
}

.newsletter_container .inp_container input {
  height: 42px;
  width: 300px;
  background: transparent;
  border: 1px solid #49341c;
  border-radius: 3px;
}

@media screen and (max-width: 590px) {
  .newsletter_container .inp_container input {
    width: 51vw;
  }
}

.newsletter_container .inp_container button {
  height: 42px;
  background-color: #49341c;
  color: #fff;
  border: none;
  border-radius: 3px;
}

@media screen and (max-width: 590px) {
  .newsletter_container .inp_container button {
    font-size: 2.5vw;
    margin-left: 5px;
  }
}

.hero_products_container {
  background-image: url("../images/bg-products-hero.png");
  background-size: cover;
  height: 278px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero_products_container * {
  color: #fff;
}

.hero_products_container p {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.products_container .filters-container {
  margin: 1rem 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.products_container .filters-container .dropdown-toggle {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.products_container .filters-container .dropdown-toggle .text {
  font-size: 20px;
}

.products_container .filters-container .dropdown-toggle.show .text {
  color: #9b795b;
}

.products_container .filters-container .dropdown-toggle:focus {
  -webkit-box-shadow: 0 3px 11px #cbcbcb;
          box-shadow: 0 3px 11px #cbcbcb;
}

.products_container .filters-container .dropdown-menu {
  border: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  -webkit-box-shadow: 0 10px 11px #cbcbcb;
          box-shadow: 0 10px 11px #cbcbcb;
  top: -2px !important;
}

.products_container .filters-container .dropdown-menu li {
  padding: 1rem;
}

.products_container .filters-container .dropdown-menu li .prices-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #9b795b;
}

.products_container .filters-container .dropdown-menu li .prices-container > div {
  padding: 0 0.5rem 0;
  width: 200px;
  border: 1px solid #9b795b;
}

.products_container .filters-container .dropdown-menu li .prices-container > div span {
  font-size: 14px;
}

.products_container .filters-container .dropdown-menu li .prices-container > div:first-child {
  margin-right: 1rem;
}

.products_container .filters-container .dropdown-menu li.ranger {
  padding-top: 0;
  padding-bottom: 3rem;
}

.products_container #filters-names {
  color: #9b795b;
  margin-left: 2rem;
}

.product-card {
  -webkit-box-shadow: 0 3px 11px #cbcbcb;
          box-shadow: 0 3px 11px #cbcbcb;
  margin: 1rem 0;
  border-radius: 20px;
  padding: 1vw;
}

@media screen and (max-width: 1400px) {
  .product-card {
    padding: 1.5vw;
  }
}

@media screen and (max-width: 767px) {
  .product-card {
    padding: 2.5vw;
    border-radius: 15px;
  }
}

@media screen and (max-width: 575px) {
  .product-card {
    padding: 4vw;
  }
}

.product-card .product-img {
  width: 75%;
  margin: 1rem auto;
}

.product-card .product-img img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.product-card .product-slider {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4rem;
}

.product-card .product-slider .swiper-pagination {
  bottom: 125px;
}

.product-card .product-slider .swiper-pagination-bullet {
  opacity: 1;
  background: #d7d3ca;
}

.product-card .product-slider .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #e2bfaf;
}

.product-card .product-slider img {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.product-card .product-details * {
  color: #4f3b24;
}

.product-card .product-details .reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-card .product-details .reviews img {
  width: 15px;
  margin-right: 0.25rem;
}

@media screen and (max-width: 1400px) {
  .product-card .product-details .reviews img {
    width: 1.125vw;
    margin-right: 0.25vw;
  }
}

@media screen and (max-width: 767px) {
  .product-card .product-details .reviews img {
    width: 1.5vw;
    margin-right: 0.325vw;
  }
}

@media screen and (max-width: 575px) {
  .product-card .product-details .reviews img {
    width: 2.3vw;
    margin-right: 0.4vw;
  }
}

.product-card .product-details .reviews span {
  font-size: 0.75rem;
  margin-left: 0.5rem;
}

@media screen and (max-width: 1400px) {
  .product-card .product-details .reviews span {
    font-size: 0.85vw;
  }
}

@media screen and (max-width: 767px) {
  .product-card .product-details .reviews span {
    font-size: 1.2vw;
  }
}

@media screen and (max-width: 575px) {
  .product-card .product-details .reviews span {
    font-size: 1.8vw;
  }
}

.product-card .product-details h3 {
  font-family: OptimaLight;
  margin-bottom: 0;
  margin-top: 0.25rem;
  font-size: 1.125rem;
}

@media screen and (max-width: 1400px) {
  .product-card .product-details h3 {
    font-size: 1.3vw;
  }
}

@media screen and (max-width: 767px) {
  .product-card .product-details h3 {
    font-size: 1.7vw;
  }
}

@media screen and (max-width: 575px) {
  .product-card .product-details h3 {
    font-size: 3vw;
  }
}

@media screen and (max-width: 1400px) {
  .product-card .product-details h2 {
    font-size: 2.2vw;
  }
}

@media screen and (max-width: 767px) {
  .product-card .product-details h2 {
    font-size: 2.6vw;
  }
}

@media screen and (max-width: 575px) {
  .product-card .product-details h2 {
    font-size: 5vw;
  }
}

.product-card .product-details ul {
  padding-left: 0;
  list-style: none;
}

.product-card .product-details ul li {
  font-size: 0.75vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-card .product-details ul li:nth-child(1) {
  padding-right: 1.1vw;
}

.tabs_container {
  margin: 3rem 0;
}

.tabs_container .tabs-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #493220;
}

.tabs_container .tabs-btns h3 {
  position: relative;
  color: #49341c;
  font-size: 2.25vw;
  cursor: pointer;
}

.tabs_container .tabs-btns h3.active::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -11px;
  width: 100%;
  height: 4px;
  background-color: #493220;
}

.product_container .product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0 4px 11px #cbcbcb;
          box-shadow: 0 4px 11px #cbcbcb;
  border-radius: 25px;
  padding: 2vw 2vw 2vw 3vw;
  margin-top: 2rem;
}

.product_container .product * {
  color: #4f3b24;
}

.product_container .product > div {
  width: 50%;
}

.product_container .product .swiper-wrapper {
  overflow: hidden;
}

.product_container .product .slider {
  padding-right: 1rem;
  position: relative;
}

.product_container .product .slider img {
  width: 100%;
}

.product_container .product .slider .mySwiper3 {
  position: absolute;
  bottom: 7rem;
  width: 80%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.product_container .product .content {
  padding-top: 0.5rem;
  padding-left: 1rem;
}

.product_container .product .content .main {
  padding-bottom: 0.75rem;
  border-bottom: 1px solid #9b795b;
}

.product_container .product .content .main h3 {
  margin-bottom: 0;
  font-size: 2.6vw;
}

.product_container .product .content .main h3 .heart {
  margin-left: 3vw;
  width: 3vw;
  -webkit-transform: translateY(-0.5vw);
          transform: translateY(-0.5vw);
}

.product_container .product .content .main .badge {
  color: #fff;
  border-radius: 0;
  margin-left: 1vw;
  background-color: #9b795b;
  font-size: 1.25vw;
  -webkit-transform: translateY(-0.8vw);
          transform: translateY(-0.8vw);
}

.product_container .product .content .main .badge.py-1 {
  font-size: 1vw;
  font-weight: 500;
}

.product_container .product .content .main .badge img {
  width: 2.5vw;
  margin-right: 0.25rem;
}

.product_container .product .content .main .reviews {
  margin-top: 0.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product_container .product .content .main .reviews img {
  width: 2.25vw;
  margin-right: 0.25rem;
}

.product_container .product .content .main .reviews h5 {
  margin-left: 0.5rem;
  color: #9b795b;
  margin-bottom: 0;
  font-size: 1.5vw;
}

.product_container .product .content .info {
  padding-top: 0.5rem;
  border-bottom: 1px solid #9b795b;
}

.product_container .product .content .info h4 {
  font-size: 1.9rem;
}

.product_container .product .content .info p {
  font-size: 1.7vw;
  margin-bottom: 0.5rem;
  font-family: "OptimaLight";
}

.product_container .product .content .additional {
  margin-top: 0.5rem;
  font-size: 1.3vw;
}

.product_container .product .content .additional select {
  margin-left: 3vw;
}

.product_container .product .content .additional .metal {
  font-size: 1.9vw;
}

.product_container .product .content .additional .caret-selectors {
  margin-top: 0.5rem;
}

.product_container .product .content .additional .caret-selectors .btn {
  border-radius: 50%;
  width: 5vw;
  height: 5vw;
  font-size: 1.8vw;
  border: 1px solid #e2bfaf;
  padding: 0;
  margin-right: 2vw;
  display: inline-block;
}

.product_container .product .content .additional .caret-selectors .btn.active {
  position: relative;
}

.product_container .product .content .additional .caret-selectors .btn.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.65vw;
  width: 100%;
  height: 2px;
  background: #49331e;
}

.product_container .product .content .additional .caret-selectors .btn:nth-child(1) {
  border-color: #d7d3ca;
}

.product_container .product .content .additional .caret-selectors .btn:nth-child(2) {
  border-color: #e0cd94;
}

.product_container .product .content .additional .btns {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product_container .product .content .additional .btns a {
  text-decoration: none;
  background-color: #49341c;
  color: #fff;
  padding: 0.5rem 1rem;
  display: inline-block;
  text-align: center;
  font-size: 1.7vw;
}

.product_container .product .content .additional .btns a:nth-child(1) {
  width: 20vw;
}

.product_container .product .content .additional .btns a:nth-child(2) {
  background: #fff;
  border: 1px solid #49341c;
  color: #49341c;
  width: 15vw;
  margin-left: auto;
}

.cards_container {
  margin: 2rem 0;
}

.cards_container .col-md-4:nth-child(1) .card {
  padding-left: 2vw;
  padding-right: 2vw;
}

.cards_container .col-md-4:nth-child(1) .img {
  width: 8.5vw;
}

.cards_container .col-md-4:nth-child(2) .card {
  padding-left: 1vw;
  padding-right: 1vw;
}

.cards_container .col-md-4:nth-child(2) .img {
  width: 13vw;
  margin-right: 1.5vw;
}

.cards_container .col-md-4:nth-child(3) .card {
  padding-left: 2vw;
  padding-right: 2vw;
}

.cards_container .col-md-4:nth-child(3) .img {
  width: 9vw;
}

.cards_container .card {
  -webkit-box-shadow: 0 4px 11px #cbcbcb;
          box-shadow: 0 4px 11px #cbcbcb;
  padding-top: 2vw;
  padding-bottom: 2vw;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 2.5vw;
}

.cards_container .card .img {
  margin-right: 1.5rem;
}

.cards_container .card .img img {
  width: 100%;
}

.cards_container .card .text h3 {
  color: #49341c;
  margin-bottom: 0;
  font-size: 2vw;
}

.cards_container .card .text p {
  color: #49331e;
  font-size: 1.2vw;
  margin-bottom: 0;
}

.select_diamond_container {
  margin: 4rem 0;
}

.select_diamond_container h1 {
  font-size: 2.8vw;
}

.select_diamond_container .filters h3 {
  font-size: 2.2vw;
}

.select_diamond_container .filters .extreme-values {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.select_diamond_container .filters .extreme-values > div {
  width: 9vw;
  height: 4vw;
  border: 1px solid #9b795b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.select_diamond_container .filters .extreme-values > div:first-child {
  margin-right: 2vw;
}

.select_diamond_container .filters .extreme-values > div span {
  font-size: 0.875vw;
  text-align: center;
  color: #9b795b;
  display: block;
}

.select_diamond_container .filters .extreme-values > div h4 {
  margin: 0;
  font-size: 1.25vw;
  text-align: center;
}

.select_diamond_container .filters .multi-range {
  left: 0;
  margin-top: 0.5rem;
}

.select_diamond_container .filters .multi-range input[type="range"]::-webkit-slider-thumb {
  border: 1px solid #707070;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #fff;
}

.select_diamond_container .filters .btn {
  margin-top: 1rem;
  width: 10vw;
  border: 1px solid #49341c;
  color: #49341c;
  border-radius: 0;
  font-size: 1.5vw;
  margin-left: auto;
  display: block;
}

.select_diamond_container .filters .size .extreme-values h4 {
  font-size: 1.75vw;
}

.select_diamond_container .splide__slide {
  padding: 0 1vw;
}

.suggestions_container {
  margin: 3em 0 0;
}

.suggestions_container span {
  font: 0.5rem;
}

.suggestions_container .product-slider {
  overflow-x: hidden;
}

.suggestions_container .swiper {
  padding: 0 4rem;
}

.suggestions_container .swiper .swiper-wrapper {
  padding: 0 0.25rem;
}

.suggestions_container .product-card .product-details .reviews .stars {
  width: 55%;
}

.suggestions_container .product-card .product-details .reviews .stars img {
  width: 16.25%;
}

.suggestions_container .product-card .product-details .reviews .count {
  width: 45%;
  font-size: 0.7vw;
  margin-left: 0;
}

@media screen and (max-width: 950px) {
  .suggestions_container .product-card .product-details .reviews .count {
    font-size: 0.6vw;
  }
}

.footer_container {
  padding-top: 5rem;
}

@media screen and (max-width: 767px) {
  .footer_container {
    padding-top: 0;
  }
}

.footer_container * {
  color: #49341c;
}

.footer_container img {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .footer_container img {
    width: 150px;
  }
}

@media screen and (max-width: 960px) {
  .footer_container h4 {
    font-size: 18px;
  }
}

.footer_container .social {
  margin-top: 2rem;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .footer_container .social {
    text-align: left;
  }
}

@media screen and (max-width: 767px) {
  .footer_container .social {
    text-align: center;
  }
}

.footer_container .social img {
  width: 25px;
  margin: 0 0.25rem;
}

.footer_container .nav .nav-item {
  display: block;
  width: 100%;
  margin: 0.25rem 0;
}

.footer_container .nav .nav-item a {
  text-decoration: none;
}

@media screen and (max-width: 960px) {
  .footer_container .nav .nav-item a {
    font-size: 12px;
  }
}

.footer_container .payment-methods img {
  display: block;
  margin-bottom: 1rem;
  margin-left: auto;
  max-width: 55px;
}

@media screen and (max-width: 767px) {
  .footer_container .payment-methods img {
    display: inline;
    max-width: 60px;
    margin: 0 1rem;
  }
}

.footer_container .legal {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 760px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 575px) {
  .footer_container .legal {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-left: 1rem;
  }
}

.footer_container .legal li {
  list-style: none;
  margin: 0 1rem;
}

.footer_container .legal li a {
  text-decoration: none;
  font-size: 14px;
}

@media screen and (max-width: 767px) {
  .footer_container .legal li a {
    font-size: 11px;
  }
}
/*# sourceMappingURL=style.css.map */